:root {
  --primary: #47337b;
  --secondary: #a8cf45;
  --orange: #ff5757;
  --turquoise: #b7f6ea;
  --btn-gradient-to-right: linear-gradient(to right, #47337b, #44559a);
  --btn-gradient-to-left: linear-gradient(to left, #47337b, #44559a);
  --link: #4a77ae;
  --border: #33333320;
  --text: #333333;
  --light: #fcffff;
}

.--c-primary {
  color: var(--primary);
}

.--bg-primary {
  background: var(--primary);
}

.--c-secondary {
  color: var(--secondary);
}

.--bg-secondary {
  background: var(--secondary);
}

.--c-orange {
  color: var(--orange);
}

.--bg-orange {
  background: var(--orange);
}

.--c-turquoise {
  color: var(--turquoise);
}

.--bg-turqoise {
  background: var(--turquoise);
}

.--btn-gradient-to-right {
  background: var(--btn-gradient-to-right);
  color: white !important;
}

.--btn-gradient-to-left {
  background: var(--btn-gradient-to-left);
  color: white !important;
}

.--c-link {
  color: var(--link);
}

.--border-gray {
  border-color: var(--border);
}

.--c-text {
  color: var(--text);
}

.--bg-light {
  background: var(--light);
}
