.intron-dashboard {
  &__top-tabs {
    .nav-item .nav-link {
      background: #ffffff30;
      border-radius: 0px;
      color: white;
    }
    .nav-item .nav-link.active {
      background: var(--turquoise-dark);
    }
    .nav-item:nth-of-type(1) .nav-link {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-right: 1px solid #ffffff70;
    }
    .nav-item:nth-last-of-type(1) .nav-link {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-left: 1px solid #ffffff70;
    }
  }

  &__top-tabs.bg-white {
    .nav-item .nav-link {
      background: #f6f6f6;
      border-radius: 0px;
      color: black;
    }
    .nav-item .nav-link.active {
      background: var(--turquoise-dark);
      color: white;
    }
    .nav-item:nth-of-type(1) .nav-link {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-right: 1px solid #ffffff70;
    }
    .nav-item:nth-last-of-type(1) .nav-link {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-left: 1px solid #ffffff70;
    }
  }

  &__contribution {
    .nav-item .nav-link {
      border-radius: 0px;
      color: var(--primary);
      background: var(--dull);
      display: flex;
      justify-content: center;
    }
    .nav-item .nav-link.active {
      background: var(--turquoise-dark);
      color: var(--light);
    }
    .nav-item:nth-of-type(1) .nav-link {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .nav-item:nth-last-of-type(1) .nav-link {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-left: 1px solid #ffffff70;
    }
  }

  &__contributors {
    .nav-item .nav-link {
      border-radius: 0px;
      color: var(--primary);
      background: var(--dull);
      display: flex;
      justify-content: center;
    }
    .nav-item .nav-link.active {
      background: var(--turquoise-dark);
      color: var(--light);
    }
    .nav-item:nth-of-type(1) .nav-link {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .nav-item:nth-last-of-type(1) .nav-link {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-left: 1px solid #ffffff70;
    }
  }
}

@media (max-width: 600px) {
  .intron-dashboard {
    &__top-tabs {
      h3 {
        min-width: 100%;
        text-align: center;
      }
    }
    &__tabs {
      min-width: 100%;
      margin-top: 1rem !important;
    }
  }
}
