@import "./variables.scss";
@import "./colors.scss";
@import "./fonts.scss";

.intron-signup {
  background: url(../img/main-bg.png);
  background-size: cover;
  height: 550px;
  position: relative;

  &__back-arrow {
    position: absolute;
    left: 60px;
    top: 50px;
  }

  &__speech-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__form {
    background: white;
    border-radius: var(--border-radius-20);
    width: 100%;
    padding: 50px;
    input,
    select {
      border-radius: var(--border-radius-5) !important;
    }

    .form-control:focus,
    .custom-control-input:focus {
      box-shadow: 0px 0px 2px 2px #c6e86fa8 !important;
      border-color: #c6e86fa8 !important;
    }
  }
}
